<!DOCTYPE html>
<html>
  <head>
    <title>Quest</title>
    <!-- Bootstrap -->
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/css/quest.css" rel="stylesheet"></link>
  </head>
  <body>
    <div class="container">
      <div align="center">
        <img src="/images/quest.png" alt="" height="321px" width="667px">
        <form method="post" action="/search">
          <div class="input-append spacer">
            <input type="text" class="input-xxlarge" id="searchText" name="searchTerm">
            <button type="submit" class="btn"><i class="icon-search"></i></button>
            <div class="ui-widget" style="margin-top: 2em; font-family: Arial;">
          </div>
        </form>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


    <script>
    $("#searchText").focus();
    $(function() {
      $( "#searchText" ).autocomplete({
        source: function( request, response ) {
          $.ajax({
            url: "http://localhost:8080/suggest",
            dataType: "jsonp",
            data: {
              query: request.term
            },
            success: function( data ) {
              response( $.map( data.result, function( item ) {
                return {
                  label: item.name,
                  value: item.name,
                  desc: item.tag
                }
              }));
            }
          });
        },
        minLength: 2,
        /* select: function( event, ui ) { */
        /*   log( ui.item ? */
        /*     "Selected: " + ui.item.label : */
        /*     "Nothing selected, input was " + this.value); */
        /* }, */
        open: function() {
          $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
          $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
        }
      })
      .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
        return $( "<li>" )
          .append( "<a>" + item.label + "<span style=\"float:right;color:#888\">" + item.desc + "</a>" )
          .appendTo( ul );
      };
    });
    </script>
  </body>
</html>

