<!DOCTYPE html>
<html>
  <head>
    <title>Quest</title>
    <!-- Bootstrap -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet"></link>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .btn-large {
        min-width: 220px;
      }
      .centering{
        float:none;
        margin:0 auto
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          </a>
          <a class="brand" href="#">Quest: Knowledge Search</a>
          <div class="nav-collapse collapse">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="hero-unit">
        <form class="form-search" method="post" action="/search">
          <div class="input-append" style="margin-left:100px;">
            <input type="text" class="input-xxlarge search-query" id="searchText" name="searchTerm">
            <button type="submit" class="btn btn-inverse"><i class="icon-search icon-white"></i></button>
            <div class="ui-widget" style="margin-top: 2em; font-family: Arial;">
          </div>
        </form>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


    <script>
    $(function() {
      $( "#searchText" ).autocomplete({
        source: function( request, response ) {
          $.ajax({
            url: "http://localhost:8080/suggest",
            dataType: "jsonp",
            data: {
              query: request.term
            },
            success: function( data ) {
              response( $.map( data.result, function( item ) {
                return {
                  label: item.name,
                  value: item.name,
                  desc: item.tag
                }
              }));
            }
          });
        },
        minLength: 2,
        /* select: function( event, ui ) { */
        /*   log( ui.item ? */
        /*     "Selected: " + ui.item.label : */
        /*     "Nothing selected, input was " + this.value); */
        /* }, */
        open: function() {
          $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
          $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
        }
      })
      .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
        return $( "<li>" )
          .append( "<a>" + item.label + "<span style=\"float:right;\">" + item.desc + "</a>" )
          .appendTo( ul );
      };
    });
    </script>
  </body>
</html>

